<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="view/js/jquery-1.7.2min.js"></script>
</head>
<body>




<div class="jumbotron">
    <div class="page-header">
        <h1>管理员信息页面</small></h1>
    </div>
    <div class="list-group">
        <a href="index.php?c=member&a=shanchu" class="list-group-item active">退出登录</a>
        <!--<a href="wenindex.php?a=index" class="list-group-item active">进入管理页面</a>-->
        <a href="wenindex.php?a=index" class="list-group-item">进入管理页面</a>
    </div>

    <!--<a href="index.php?c=member&a=shanchu" style="text-decoration: none;font-size: 60px;color: #5FC4FD">退出登录</a>-->
    <!--<br><br><br>-->
    <!--<a href="wenindex.php?a=index" style="text-decoration: none;font-size: 60px;color: #5FC4FD">进入管理页面</a>-->

</div>






</body>
</html>