<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" type="text/css" href="font_f81yvdixykua0pb9/iconfont.css">
</head>
<body>

    <div class="dbjuzhong">
        <img src="tu/logo.png" alt="">
        <img src="tu/hainei.png" alt="">
        <p>来天涯，与129751055位天涯人共同演绎你的网络人生</p>
    </div>

    <!--顶部结束-->


    <!--中部开始-->
<div id="baifen">
    <div id="juzhong">
        <div id="zt">
            <a href="" class="bianli">二维码登录更便利</a>
            <img src="tu/erweima.png" class="erweima">
            <!--表单开始-->
            <form action="index.php?c=member&a=denglu" method="post">
            <input type="text" name="name" placeholder="用户名/手机/邮箱" class="ming">
            <br><br>
             <input type="password" name="pwd" placeholder="密码" class="mima">
            <br><br>
            <input type="checkbox" name="ck"  class="ck"><p class="xiaci">下次自动登录</p>
            <a href="http://passport.tianya.cn/fp/fp.jsp" class="wangji">忘记密码</a>
            <br><br>
            <a href="index.php?c=member&a=zc" class="zhuce">立即注册</a>

            <input type="submit" value="登录" class="dl">
             </form>
            <!--表单结束-->
            <div class="qita">
                <p class="qtwz">其他账号登录 :</p>
                <p class="zifu">
                    <i class="iconfont icon-iconweixincaise"></i>    <!--icon只需要一次就好了！-->
                    <i class="iconfont icon-icon_caiseqq"></i>
                    <i class="iconfont icon-xinlang"></i>
                </p>
            </div>

        </div>
        <p class="dangqian"> 当前在线：748552</p>
        <a href="http://focus.tianya.cn/" class="lioulan">浏览进去>></a>

    </div>
</div>

<!--底部开始-->
<!--<div id="dibu">-->
<div class="dbjz">
       <ul class="guanyu">
           <li><a href="">关于天涯</a></li>
           <li><a href="">广告服务</a></li>
           <li><a href="">天涯客服</a></li>
           <li><a href="">隐私和版权</a></li>
           <li><a href="">联系我们</a></li>
           <li><a href="">加入天涯</a></li>
       </ul>
       <p class="yintou">© 1999 - 2017 天涯社区版权所有</p>
       <div class="zengzhi">
           <a href="">增值电信业务经营许可证（琼B2-20060032） </a>
           <a href="">网络文化经营许可证（琼网文【2015】1731-008号） </a>
           <a href="">互联网药品信息服务资格证书(琼)-经营性-2010-0003 </a>
       </div>
        <div class="wangluo">
            <a href="">网络传播视听节目许可证（2110566号）</a>
            <a href=""> 广播电视节目制作经营许可证（琼字第052号）</a>
            <a href="">琼公网安备 46010602000002号</a>
        </div>
        <div class="jcgp">
            <img src="tu/jc.jpg" alt="">
        </div>

</div>
<!--</div>-->









<!--底部结束-->
</body>
</html>